
body{
    font-family: Arial;
}z
/*Перечеркивание объявлений*/
del.cross {
    display:inline-block; /* запрещает перенос текста на следующую строку */
    text-decoration:none;
    position:relative;
}
/*Перечеркивание объявлений*/
.del-cross {
    display:block;
    position:relative;
    overflow:hidden; /* запрещает обтекать другие блоки */
}
/*Перечеркивание объявлений*/
del.cross:before,
.del-cross:before {
    content:'';
    position:absolute;
    display:block;
    width:auto;
    height:auto;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0) url(cross.svg) no-repeat;
    background-size:100% 100%; /* растягивает фон на всю ширину и высоту блока */
}


img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*Параметры поиска */


.options_search{

    font-family: "Basic Comical NC";
    font-size: 21px;
    font-weight: normal;
}
/*Важное объявление */
.holder {
background:yellow;

}
/*новое объявление*/
#new{
    float: right;
}
/*Заголовок объявления*/
.title_advert{

       margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-size: 22px;
    line-height: 40px;
    color: #355681;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(53,86,129, 0.3);
}
.red{
    color:red;
    font:14px;
   float: right;
}
#all_search{
    float: right;

}
.image_avatar{
    float: left;
    
    cursor: pointer;
}
.advert{
    position: relative;
    border: 2px solid #A2AFB1;
}
.description{
    
   word-break: break-all;
}
.client_adverts{
    border:2px solid #ccc;
}
.adverts_realtor{
    border: 2px solid #6B6666;
    z-index: 3;
}
.desctop{
    border:2px solid #ccc;
    width: 300px;
    height: 300px;
  

}
.desctop_adverts{

   border:2px solid #ccc;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
}
.client{
    border: 2px solid #ccc;
    z-index: 1;
    cursor: pointer;
}
.search_client{
    width: 300px;
    border: 2px solid #ccc;
    z-index: 1;
    cursor: pointer;
}
.clients{
    
    height: 550px;
    overflow-y: scroll;
    overflow-x:hidden; 
}
.green{
    color:green;
    font:14px;
}

.search{
    border: 2px solid #ccc;
    background: #fff;
    color: #000;
}
#type,#city,#minCost,#maxCost,#min_rooms,#max_rooms{
    background: #AEBDCC;
}

.panel-heading{
    background: #2CA2BF;
}
#slider{
    background: #46637F;
}
.footer{
    height: 40px;
    background: #2c3e50;
}
.realtor_adverts{
    overflow-y: scroll;
    overflow-x:hidden; 
    height: 550px;
}
.recommended_adverts{
    background: #ccc;
    color: #2F2D2D;
}
.recommended_title{
   font-size: 23px;
   font-family: Georgia;
}
.rec_avatar{
    width: 300px;
}
.copyright{
    color:#fff;
    text-align: center;
}
.search_result{
    font-size: 40px;
    text-align: center;
}
.advertt{
    height: 300px;
}
